.header {
   height: 100;
    background: #1abc9c;
    color: white;
    font-size: 30px;
  }
.h1, .p {
  text-align: center;
}

.version {
  transform: translateY(-50px);
}

body {
    background-color: rgb(75, 75, 75);
    color: rgb(255, 255, 255);
}

.custom-dropdown--large {
    font-size: .5em;
  }

  .custom-dropdown--small {
    font-size: .2em;
  }

  .custom-dropdown__select{
    font-size: inherit; /* inherit size from .custom-dropdown */
    padding: .1em; /* add some space*/
    margin: 0; /* remove default margins */
  }

  .custom-dropdown__select--white {
    background-color: #1abc9c;
    color: rgb(255, 255, 255);
  }

  @supports (pointer-events: none) and (appearance: none) {

    .custom-dropdown {
      position: relative;
      display: inline-block;
      border: 0;
      border-radius: 3px;
      appearance: none;
    }

    .custom-dropdown::before,
    .custom-dropdown::after {
      content: "";
      position: absolute;
      left: 150px;
      top: -60px;
      pointer-events: none;
    }

    .custom-dropdown::before { /*  Custom dropdown arrow cover */
      width: 2em;
      right: 0; top: 0; bottom: 0;
      border-radius: 0 3px 3px 0; 
    }

    .custom-dropdown__select[disabled] {
      color: rgb(255, 255, 255);
    }

    .custom-dropdown.custom-dropdown--disabled::after {
      color: rgb(250, 249, 249);
    }

    .custom-dropdown--white::after {
      color: rgb(255, 255, 255);
    }

   .header .custom-dropdown .h1 .p {
      top: 0;
      left: 0;
      position: absolute;
   }
  }

