body {
    background-color: #52525a;
    color: rgb(255, 255, 255);

}

/* For Slide Show Images */
.resize {
  width:100vw;
  height:48vw;
}

/* For Card Images */
.resize2 {
  width:49vw;
  height:24vw;

}


/* Scroll Bar Start */
/* total width */
body::-webkit-scrollbar {
  background-color: #212529;
  width: 1vw;
}

/* background of the scrollbar except button or resizer */
body::-webkit-scrollbar-track {
  background-color: #212529;
}

/* scrollbar itself */
body::-webkit-scrollbar-thumb {
  background-color: #707075;
  border-radius: 2vw;
  border: 4px solid #212529;
}

/* set button(top and bottom of the scrollbar) */
body::-webkit-scrollbar-button {
  display:none;
}
/* Scroll Bar End */

.card {
  height: 15vw;
  width: 15vw;
}

.mirkback {
  width:100%;
  height:100%;
}  
