/* css page for about.html */
  /* about.html button code START */
  /* Lore Information Button */
  .resize {
    width:100vw;
    height:48vw;
  }

  #atext {
    text-align: center;
  }
  /* about.html button code END */
  